*.py[cod]

whoshere-0*
whoshere-main.py
whoshere-iftt-local.py
.pylintrc
.screen_shots/
isylib.cfg
.isylib.cfg
mtargets.json
whoshere.ini
.git-*
log/
Log/
EGG-INFO
suds
.exrc
tt.py
test.*
Sav/*
Bak/*

*-test.py

ref-code

*--
*-bak
*.bak
*-sav
*.sav
*.sav-dev

# C extensions
*.so

files.txt
files-0.1.20*.txt

# Packages
*.egg
*.egg-info
dist
Dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
